{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <h1>
    TODO List
    <a href="{% url 'to_do_list_app:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>

  {% if task_list %}

    {% for task in task_list %}
      <ul style="list-style: none">
        <li>
          <strong>
            {{ task.content }}
            {% if task.is_done %}
              <span style="color: green;">Done</span>
              <a href="{% url 'to_do_list_app:change-task-status' pk=task.id %}" class="btn btn-secondary link-to-page">
                Undo
              </a>
            {% else %}
              <span style="color: red;">Not done</span>
              <a href="{% url 'to_do_list_app:change-task-status' pk=task.id %}" class="btn btn-success link-to-page">
                Complete
              </a>
            {% endif %}
          </strong>
<!--          <a href="{% url 'to_do_list_app:change-task-status' pk=task.id %}" class="btn btn-success link-to-page">-->
<!--            {{ task.is_done|yesno:"Undo,Complete" }}-->
<!--          </a>-->
        </li>
        <li>
          Created: {{ task.created }}
          {% if task.deadline %}
          <span style="color: purple;">Deadline: {{ task.deadline }}</span>
          {% endif %}
        </li>
        <li style="color: grey;">
          Tags:
          {% for tag in task.tags.all %}
          {{ tag }}
          {% endfor %}
          <a href="{% url 'to_do_list_app:task-update' pk=task.id %}">Update</a>
          <a href="{% url 'to_do_list_app:task-delete' pk=task.id %}">Delete</a>
        </li>
      </ul>
      <hr>

    {% endfor %}

  {% else %}
      <p>There are no tasks.</p>
  {% endif %}

{% endblock content%}
