{% extends "base.html" %}


{% block content %}
  <h1>
    TODO List
    <a href="{% url 'to_do_list_app:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>


  {% if task_list %}

    {% for task in task_list %}
      <ul>
        <li>
            {{ task.content }} {{ task.is_done }}
        </li>
        <li>
            Created: {{ task.country }}
        </li>
      </ul>
    {% endfor %}

  {% else %}
      <p>There are no manufacturers in the service.</p>
  {% endif %}

{% endblock content%}
